.history {
  min-height: 100vh;
}

.history-title {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.history-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.history-list li {
  border: 1px solid #718093;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  color: #718093;
  font-size: 0.9rem;
  width: 220px;
}

.history-list li:hover {
  background-color: #353b48;
  color: #f5f6fa;
  cursor: pointer;
}